body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.timeContainer {
  max-width: 350px;
  background-color: #eee;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 30px;
  margin-top: 3rem;
}

.timeContainer p {
  margin: 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  gap: 1rem;
  text-align: center;
}

.gridContainer div {
  padding: 1rem;

  border-radius: 10px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quickLinkContainer {
  background-color: #eee;
}

.quickLinkContainer div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#linkCardDiv {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-bottom: 0.8rem;
}

#firstCard {
  padding: 0;
}

#quickLinkButton {
  padding: 0;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

#linkCardButton {
  margin-left: auto;
  margin-bottom: auto;
  border-radius: 100%;
  border: 1px solid black;
  font-size: 0.5em;
}

#linkCardButton:hover {
  color: red;
}

.weatherContainer {
  background-color: #eee;
}

.weatherContainer img {
  max-width: 5rem;
  min-height: 5rem;
}

.weatherContainer div {
  width: 100%;
  display: flex;
  padding: 0;
}

.weatherDay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.weatherCards > div {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  margin: 0;
  background-color: white;
}

.weatherCards {
  margin-top: 1rem;
}

.weatherInfo div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
  margin-right: 0.5rem;
}

.weatherinfoDetails p {
  background-color: #eee;
  padding: 0.3rem 0.3rem;
  margin: 0;
  border-radius: 5px;
  font-size: 0.8rem;
}

.cardTextField {
  width: 100%;
  height: 80%;
  border: none;
  resize: none;
}

.div3 {
  background-color: #eee;
}

.textFieldDiv {
  background-color: #eee;
}

.pageTitle {
  border: none;
  background: none;
  margin-bottom: 3rem;
  font-size: 5rem;
  text-align: center;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.pageTitle:focus {
  outline: none;
}
.gridContainer h1 {
  background-color: #eee;
}

.randomButtonContainer {
}

.randomButtonContainer button {
  max-width: 350px;
  background-color: #eee;
  padding-left: 5vw;
  padding-right: 5vw;
  border-radius: 30px;
  margin-bottom: 3rem;
  border: none;
  cursor: pointer;
}

#bodyBackground {
  background-size: cover;
  background-position: center;
}
